#socials {
  display: flex;
  align-items: center;
  justify-content: center;

  filter: drop-shadow(0 0 3px #6b28a1);
  text-shadow: 0 0 1px #6b28a1;

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

#social-icon {
  color: hotpink;
  display: flex;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 4px;
}

#social-name {
  transition: width linear 200ms;
  width: fit-content;
  margin-right: 8px;
}

.social-decorator {
  display: block;
  width: 20px;
}

.social-decorator:nth-of-type(2) {
  transform: scale(-1);
}