@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');a

/*
font-family: 'STIX Two Text', serif;
font-family: 'Jost', sans-serif;
font-family: 'Style Script', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bggray: #0b0b0b;
    --bgsec: #101010;
    --bgnav: #0b0b0b;
    --ftgold: #ce9970;
    --ftlgold: #e5bc9c;
    --ftgray: #d7d7d7;    
}
[data-position=scroll] {
    --bgnav: #111;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--bggray);
    color: var(--ftlgold);
    font-family: 'Jost', sans-serif;
    image-rendering: -webkit-optimize-contrast;
}
a {
    text-decoration: none;
    color: var(--ftlgold);
}
a:hover {
    color: var(--ftgold);
}
header {
    width: 100%;
    margin-top: 60px;
}
footer {
    width: 100%;
}
footer section {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem;
    text-align: center;
}
footer div:not(.ptf){
    margin-top: 2rem;
}
ul {
    list-style: none;
}
h1, h2:not(#slider h2), h3, h4 {
    font-family: 'STIX Two Text', serif;
    font-weight: 500;
}
h2 {
    font-size: 48px;
}
section h2:not(#slider h2, #tarot h2, .saletitle h2) {
    margin-bottom: 2rem;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
    font-weight: 400;
}
h6 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
header section, main {
    max-width: 1200px;
    margin: auto;
    padding: 0 .5rem;
}
main {
    margin: 1rem auto;
}
main section {
    margin: .5rem;
}
.flexbox {
    display: flex;
}
.flexcol {
    flex-direction: column;
    width: 50%;
}
.flexcol section {
    width: calc(100% - 1rem);
}
.flexwrap {
    flex-wrap: wrap;
}
.flexpad {
    padding: 0 1rem;
}
.flexsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.flexsec p:not(.subtitle) {
    text-align: justify;
    margin-bottom: 2rem;
}
.gridbox {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
}
.linkfill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.relative {
    position: relative;
    height: inherit;
}
.categories {
    width: 50%;
}
.grid {    
    aspect-ratio: 1/1;
}
.griditem {
    overflow: hidden;
    background-color: var(--bgsec);
    clip-path: inset(0px round 30px);
    transform: translateZ(0);
}
.bigitem {
    aspect-ratio: 1/2;
}
.imgcover {
    width: auto;
    height: calc(100% + 2px);
    margin: auto;
}
.inv {
    transform: scaleX(-1);
}
.catbtn, #tbtn, .ebtn {
    border: none;
    background-color: var(--ftlgold);
    color: var(--bggray);
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}
.catbtn:active, #tbtn:active, .ebtn:active {
    background-color: var(--ftgold);
    color: var(--bggray);
}
#tbtn:disabled, .ebtn:disabled, #tbtn:disabled:hover, .ebtn:disabled:hover {
    background-color: var(--ftgray);
    cursor: auto;
}
.ebtn {
    padding: 0 .7rem;
    height: 40px;
}
.ftl {
    margin-left: 1rem;
}
footer ul {
    display: flex;
    width: 100%;
    justify-content: center;
}
footer ul li:not(:first-child) {
    margin-left: 1rem;
}



#mainnav {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;    
    height: 60px;
    background-color: var(--bgnav);
    /*box-shadow: 0 2px 10px 3px rgba(0,0,0,.1);*/
}
#topnav {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 3rem;
}
#logo {
    width: auto;
    height: 35px;
}
#logo:hover {
    filter: brightness(80%) saturate(170%);
}
#navlist {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
#mobmenu {
    display: none;
}
#shopbag {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 32px;
    height: 32px;
    border: none;
    background-color: var(--ftlgold);
    color: var(--bggray);
    cursor: pointer;
    border-radius: 5px;
}
#shopbag:active {
    background-color: var(--ftgold);
}



#slider {    
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    clip-path: inset(0px round 40px);
    transform: translateZ(0);
}
#slider img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#scontrol {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bggray);
    width: 70px;
    height: 24px;
    border-radius: 24px;
    padding: 5px;
    z-index: 30;
    display: flex;
    justify-content: space-between;
}
.scslides {
    position: relative;
    z-index: 31;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--ftlgold);
    background-color: transparent;
}
.scselected {
    background-color: var(--ftlgold);
    clip-path: circle(50%);
}
.slide {
    overflow: hidden;
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: left 0.4s;
}
.txtslider {
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: var(--ftlgold);    
    text-shadow: 0 0px 5px rgba(0,0,0,1);
    font-size: 20px;
    background-color: transparent;
}
#slider h2 {
    font-family: 'STIX Two Text', serif;
    font-size: 48px;
}
.ir {
    color: var(--ftlgold);
    filter: drop-shadow(0 0px 3px rgb(0,0,0));
}
[data-slactive="0"]{
    left: 0;
}
[data-slactive="1"]{
    left: -100%;
}
[data-slactive="2"]{
    left: -200%;
}


#pcmenu, #tarot {
    padding: 1.5rem.5rem;
}
#pcmenu {
    width: calc(100% - 1rem);
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#pcmenu div{
    width: 20%;
    position: relative;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
#pcmenu h3 {
    transition: all .35s cubic-bezier(.29, .63, .44, 1);
}
#pcmenu div:hover .pclt {
    opacity: 0;
}
#pcmenu ul {
    transition: all .35s cubic-bezier(.29, .63, .44, 1);
    opacity: 0;
    font-size: 20px;
    width: 100%;
    position: absolute;
    top: 0;
}
#pcmenu div:hover .pcll {
    opacity: 1;
}
.pcmicon {
    width: auto;
    height: 80px;
}
.imgadj {
    width: calc(50% + 1px);
}
.saletitle {
    position: absolute;
    z-index: 10;    
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 70%;
    background-color: var(--bgsec);
    border-radius: 20px;
    padding: 1rem;
}
.saletitlebot {
    bottom: 30px;
}
.saletitletop {
    top: 30px;
}
#tarot {
    position: relative;
}
#tarot div {
    justify-content: flex-start;
    height: 100%;
}
#tarot h2{
    font-size: 36px;
    padding: 1rem;
}
.tcard {
    height: 250px;
    width: auto;
    clip-path: inset(0px round 10px);
    transform: translateZ(0);

}
.op1 {
    opacity: 1;
    transition: all .35s cubic-bezier(.29, .63, .44, 1);
}
.op0 {
    opacity: 0;
    transition: all .35s cubic-bezier(.29, .63, .44, 1);
}


.ptf {
    display: flex;
    flex-wrap: nowrap;
    margin-top: .6rem;
    justify-content: center;
    width: 100%;
}
input[type=email] {
    border: 1px solid var(--ftlgold);
    padding: 5px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--bggray);
    color: var(--ftlgold);
    min-width: 250px;
    margin-right: .5rem;
}


@media screen and (min-width: 1024px) {
    .mobonly {
        display: none;
    }
    .imgfit {
        width: calc(100% + 2px);
    }
    .catbtn:hover, #tbtn:hover, .ebtn:hover {
        background-color: var(--ftgold);
        color: var(--bggray);
    }
    #logo {
        padding-left: 0.7rem;
    }
    #navlist {
        margin-left: auto;
        position: relative;
    }
    #navlist li a {
        padding: 1.15rem 0.7rem;
    }
    #shopbag {
        margin: 0 0.7rem;
    }
    #shopbag:hover {
        background-color: var(--ftgold);
    }
    #slider {
        aspect-ratio: 2/1;
    }
    .scslides {
        cursor: pointer;
    }
}

@media screen and (max-width: 1023px) {
    [data-menu="open"] {
        transform: translateX(100%);
    }
    .flexbox {
        flex-direction: column;
    }
    .categories {
        width: calc(100% - 1rem);
    }
    .imgfit {
        height: 100%;
    }
    .imgcover {
        width: calc(100vw - 2rem) !important;
        height: auto !important;
    }
    .flexcol {
        width: 100%;
    }
    .flexsec p:not(.subtitle) {
        margin-bottom: 1.5rem;
    }
    .fpt {
        order: 1;
    }
    .fpi {
        order: 2;
    }

    #topnav {
        padding: 0 1rem;
    } 
    #logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #navlist {
        position: fixed;
        top: 60px;
        left: -100%;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: var(--bgnav);
        transition: all .35s cubic-bezier(.29, .63, .44, 1);
        overflow-y: auto;
        font-size: 22px;
        justify-content: normal;
        z-index: 998;
    }
    #navlist li {
        padding: 1.5rem 0;
        text-align: center;
    }
    .mmopened {
        overflow: hidden;
    }
    #mobmenu {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        width: 32px;
        height: 32px;
        color: var(--ftlgold);
    }
    #navlist {
        overflow-y: auto;
    }
    .submenu {
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all .3s cubic-bezier(.57, .06, .05, .95);
    }
    .subopened {
        max-height: 1000px;
        transition: all .6s cubic-bezier(.57, .06, .05, .95);
    }
    .submenu li {
        padding: .5rem 0 !important;
    }
    .submenu li:nth-of-type(1) {
        padding-top: 1rem !important;
    }
    #shopbag {
        margin-left: auto;
    }

    #slider {
        aspect-ratio: 1/1;

    }
    #slider img {
    left: 50%;
    transform: translate(-50%, -50%);
    }
    #slider h2 {
        font-size: 32px;
    }
    #scontrol {
        bottom: 10px;
    }
    .txtslider {
        left: 16px;
        bottom: 40px;
        text-shadow: 0 0px 8px rgb(0,0,0), 0 0px 5px rgb(0,0,0);
    }
    .ir {
        filter: drop-shadow(0 0px 1px rgb(0,0,0));
    }
    #pcmenu {
        display: none;
    }

    footer ul {
        flex-direction: column;
    }
    footer ul li:not(:first-child) {
        margin-top: 1rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 599px) {
    h1, h2 {
        font-size: 32px;
    }    
    h3 {
        font-size: 19px;
    }
    .catbtn, #tbtn {
        padding: .7rem 1.5rem;
    }
    .flexsec {
        padding: 1rem;
    }
    .mobhide {
        display: none;
    }
    .saletitle {
        width: 90%;
    }
    .saletitlebot {
        bottom: 20px;
    }
    .saletitletop {
        top: 20px;
    }
    #tarot {
        padding: 0;
    }
    #tarot p {
        padding-bottom: 0;
    }
    #tarot h2 {
        padding: .5rem;
    }
    .tcard {
        height: 165px;
    }
}
